{% extends "layout.html" %}

{% block content %}
    <div class="page-section">
        <form method="POST", action="" novalidate>
            {{ form.hidden_tag() }} <!-- generates a hidden field to protect the form against CSFR - secret jey required --> 
            <fieldset class="form-box">
                <legend class="form-legend"> Join Today </legend>
                <!-- {% for field, errors in form.errors.items() %}
                    {{ form[field].label }}: {{ ", ".join(errors) }}
                {% endfor %} -->
                <p>
                    {{ form.username.label }} <br> <!-- the string passes in the type field  -->
                    {% if form.username.errors %}
                        {{ form.username(class="form-input invalid-form-input") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span class="error-messsage-input">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(size=32, class="form-input") }} <!-- size -->
                    {% endif %}
                </p>
                <p>
                    {{ form.email.label }} <br> <!-- the string passes in the type field  -->
                    {% if form.email.errors %}
                        {{ form.email(class="form-input invalid-form-input") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span class="error-messsage-input">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(size=32, class="form-input") }} <!-- size -->
                    {% endif %}
                </p>       
                <p>
                    {{ form.password.label }} <br> <!-- the string passes in the type field  -->
                    {% if form.password.errors %}
                        {{ form.password(class="form-input invalid-form-input") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span class="error-messsage-input">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(size=32, class="form-input") }} <!-- size -->
                    {% endif %}
                </p>
                <p>
                    {{ form.confirm_password.label }} <br> <!-- the string passes in the type field  -->
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-input invalid-form-input") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span class="error-messsage-input">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(size=32, class="form-input") }} <!-- size -->
                    {% endif %}
                </p>
                <p>{{ form.submit(class="form-btn") }}</p>
            </fieldset>
        </form>
    </div>
    <div class="login-redirect">
        <p>
            Already have an account? <a class="login-redirect-link" href="{{ url_for('login') }}">Sign in</a>
        </p>
    </div>
{% endblock content %}